@font-face{
	font-family:'ATypewriterForMe';
	src:url('ATypewriterForMe.ttf');
}

body{
background: url("../ImgsOfficial/CodePage/AuxBackground.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment:fixed;
font-family:'ATypewriterForMe';
overflow:hidden;
word-break: break-all;
}

#inputBlock{
	position:relative;
	display:block;
	top:8%;
	left:7%;
	height:84%;
	width:55%;
	font-size:90%;
	overflow-y:scroll;
	overflow-x:hidden;
	word-wrap: break-word;
	text-align:center;
	border-left:2px #dfdfdf solid;
}

input{
	position:relative;
	display:block;
	width:98%;
	height:auto;
	margin: 1%;
}

input[type=text]{
	border:black 1px solid;
	border-radius:5px;
}

input[type=image]{
	position:relative;
	display:inline-block;
	height:auto;
	width:100%;
}

#inputBlock label{
	font-weight:bold;
	margin: 1%;
}

#showCode{
	position:absolute;
	display:block;
	height:auto;
	width:40%;
	background:darkgray;
	top:30%;
	left:30%;
	border-radius:7px;
	border:dashed;
	padding:1%;
	visibility:hidden;
}

#Bloco_Inicial{
	position:absolute;
	display:block;
	height:auto;
	width:55%;
	top:17%;
	left:7%;
	background:darkgray;
	border-radius:7px;
	border:dashed;
	padding:1%;
	z-index: 1;
}

#PutName{
	position:absolute;
	display:block;
	height:auto;
	width:30%;
	background:darkgray;
	top:34%;
	left:25%;
	border-radius:7px;
	border:dashed;
	padding:1%;
	z-index: 1;
}

.options{
	position:relative;
	display:block;
	width:100%;
	margin-top:1%;
	height:auto;
}

#NewCode, #Edit {
	padding:1.5%;
}


/* Medias queries*/

@media (max-width: 575.98px) {
	#Bloco_Inicial{
		font-size:80%;
	}
	#PutName{
		width:50%;
		font-size:70%;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	#Bloco_Inicial{
		font-size:90%;
	}
	#PutName{
		width:53%;
		font-size:100%;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	#Bloco_Inicial{
		font-size:110%;
	}
	#PutName{
		width:53%;
		font-size:120%;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	#Bloco_Inicial{
		font-size:130%;
	}
	#PutName{
		width:53%;
		font-size:140%;
	}
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
	#Bloco_Inicial{
		font-size:155%;
	}
	#PutName{
		width:53%;
		font-size:175%;
	}
}
