@font-face{
	font-family:'ATypewriterForMe';
	src:url('ATypewriterForMe.ttf');
}

body{
	background: url("../ImgsOfficial/Menu/Menu.jpg"); 
	background-position: center;
	background-size: 100% 100%;
	background-attachment:fixed;
	background-repeat: no-repeat;
	overflow:hidden;
	font-family:'ATypewriterForMe';
}

#BtStart, #BtCenter, #BtEnd{
	position:relative;
	display:inline-block;
}

#Div_Aux{
	position:absolute;
	display:block;
	top:10%;
	margin-left:5%;
	background-color:white;
	height:80%;
	width:90%;
	border-radius: 15px 30px;
}

#AuxCabecalho{
	position:relative;
	width:90%;
	height:10%;
	margin: 0 auto;
	top:1%;
}

#Title{
	position:relative;
	display:block;
	height:100%;
	float:left;
	margin-top:1%;
}

#CloseDiv_Aux{
	position:relative;
	display:block;
	height:100%;
	float:right;
	margin-top:1%;
}

#AuxConteudo{
	position:relative;
	display:block;
	height:75%;
	width:95%;
	overflow-y:scroll;
	word-wrap:normal;
	margin:0 auto;
}

/* Medias queries*/

@media (max-width: 575.98px) {
	#AuxConteudo{
		height:73%;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
	#Title, #CloseDiv_Aux{
		margin-top:0.5%;
	}
	#BtStart, #BtCenter, #BtEnd{
		width:80%;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	#Title, #CloseDiv_Aux{
		margin-top:0.5%;
	}
	#BtStart, #BtCenter, #BtEnd{
		width:80%;
	}
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
	#Title, #CloseDiv_Aux{
		margin-top:0.5%;
	}
	#BtStart, #BtCenter, #BtEnd{
		width:70%;
	}
}
