<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
	    xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.TPC"
        version   = "1.0.0">

   <name>Trilha do Patrimônio Cultural</name>

   <description>
         A "Trilha Do Patrimônio Cultural" é um jogo online desenvolvido com o objetivo de auxiliar alunos e professores, principalmente da educação básica, ou terceiros interessados de forma lúdica e prazerosa a expandirem seu campo de conhecimento acerca dos patrimonios culturais existente na sua região.
   </description>

   <author email="#">
       WILLIAMS URBANO
   </author>
   <preference name="permissions" value="none"/>
   <!-- Customize your app and platform with the preference element. -->
   <preference name="orientation" value="landscape" />  <!-- all: default means both landscape and portrait are enabled -->
   <preference name="target-device" value="universal" />  <!-- all: possible values handset, tablet, or universal -->
   <preference name="fullscreen" value="true" />   <!-- all: hides the status bar at the top of the screen -->
   <preference name="webviewbounce" value="true" />  <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
   <preference name="prerendered-icon" value="true" />  <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
   <preference name="stay-in-webview" value="false" />  <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
   <preference name="ios-statusbarstyle" value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
   <preference name="detect-data-types" value="true" />  <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
	<!-- Icones -->
	<icon src="ImgsOfficial/iconTCp.png"  gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="ImgsOfficial/iconTCp.png"  gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="ImgsOfficial/iconTCp.png"  gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="ImgsOfficial/iconTCp.png"  gap:platform="android"    gap:qualifier="xhdpi" />
    <icon src="ImgsOfficial/iconTCp.png"  gap:platform="blackberry" />
    <icon src="ImgsOfficial/iconTCp.png"  gap:platform="blackberry" gap:state="hover"/>
    <icon src="ImgsOfficial/iconTCp.png"  gap:platform="ios"        width="57" height="57" />
    <icon src="ImgsOfficial/iconTCp.png"  gap:platform="ios"        width="72" height="72" />
    <icon src="ImgsOfficial/iconTCp.png"  gap:platform="ios"        width="114" height="114" />
    <icon src="ImgsOfficial/iconTCp.png"  gap:platform="ios"        width="144" height="144" />
    <icon src="ImgsOfficial/iconTCp.png"  gap:platform="webos" />
    <icon src="ImgsOfficial/iconTCp.png"  gap:platform="winphone" />
    <icon src="ImgsOfficial/iconTCp.png" gap:platform="winphone"   gap:role="background" />
	<icon src="ImgsOfficial/iconTCp.png" />
	
    <access origin="*"/>
	<plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>